/********************************************************
Universal Style
********************************************************/
.container {
  max-width: 1140px;
}
html, body {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
h2 {
  font-size: 3.5em;
  text-transform: capitalize;
}
p {
  font-size: 1.7em;
  margin-top: 20px;
  margin-bottom: 20px;
}
/********************************************************
Button Style
********************************************************/
.btn-primary {
  background-color: rgba(238,68,95,0.9);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}
/********************************************************
Header Style
********************************************************/
header {
  text-align: left;
  padding-left: 15%;
  height: 550px;
  background-image: url(../img/intro.jpg);
  background-position: center;
  background-size: cover;
}
header h2 {
  margin-top: 100px;
}
